
<a name="About"></a>
<div class="about-page card">
  <paper-shadow z="2">
    <h2>ABOUT</h2>
    <p>I am a Web Developer in Chattanooga Tn. I have been working with computers for over half a decade, building them, fixing them, tinkering, etc. Naturally, I progressed into programming, starting with frontend web stuff and diving into backend shortly after that.</p>
    <p>I also like to play and listen to music. I play guitar mostly but dabble into everything, just like programming. Along with this, I have also grown up playing soccer in school and college and continue to this day. Go #teamMessi</p>
  </paper-shadow>
</div>
