<!-- Project Section -->

<a name="Projects"></a>
<div class="projects-page card">
  <paper-shadow z="2">
    <h2>PROJECTS</h2>

      <h4>HypeFitness With Emily</h4>
      <p>A Django site built for a local fitness instructor here in the Chattanooga area.</p>
      <h6 class=""><a href="http://www.hypefitnesswithemily.com/">HypeFitnesswithEmily.com</a></h6>
      <div class="underline"></div>

      <h4>Cloud Beacons</h4>
      <p>Frontend work I did for an up and coming tech using "beacons" to transmit data to and from users in a general area.</p>
      <h6 class=""><a href="http://cloudbeacon.io/">Cloudbeacon.io</a></h6>
      <div class="underline"></div>

      <h4>LPG Intranet</h4>
      <p>A Rails intranet site for internal use within the Lamp Post Group</p>
      <h6 class=""><a href="https://pacific-shelf-7941.herokuapp.com/">pacific-shelf-7941.herokuapp.com/</a></h6>
      <div class="underline"></div>


      <h4>Slack Integration</h4>
      <p>A python slack integration for Ambition.io for use with github and weather features etc.</p>
      <h6><a href="https://github.com/Jodything/ambition-slack">github.com/Jodything/ambition-slack</a></h6>


  </paper-shadow>
</div>
