<!-- Project Section -->

<a name="Projects"></a>
<div class="projects-page card">
  <paper-shadow z="2">
    <h2>PROJECTS</h2>

    <div>
      <h4>HypeFitness With Emily</h4>
      <p>A Django site built for a local fitness instructor here in the Chattanooga area.</p>
      <h6>http://www.hypefitnesswithemily.com/</h6>
    </div>

    <div>
      <h4>LPG Intranet</h4>
      <p>A Rails intranet site for internal use within the Lamp Post Group</p>
      <h6>https://pacific-shelf-7941.herokuapp.com/</h6>
    </div>

    <div>
      <h4>Slack Integration</h4>
      <p>A python slack integration for Ambition.io for use with github and weather features etc.</p>
      <h6>https://github.com/Jodything/ambition-slack</h6>
    </div>


  </paper-shadow>
</div>
