
<a name="Skills"></a>
<div class="skills-page card">
  <paper-shadow z="2">
    <h2>SKILLS</h2>
    <div class="skills">
      <h4>Rails | Ruby</h4>
      <p>I find Ruby on Rails a joy to work with. With Rails I generally use a Postgres database and deploy with Heroku. With Rails I've worked with quite a few gems including: Devise, Omniauth, Comfortable Mexican Sofa (CMS), Forem. Just to name a few.</p>
      <h4>Django | Python</h4>
      <p> Python is a widely used and prominent language with many resources. It is one of the second languages I learned to use. I wrote scripts to use during the recent World Cup to find team data easily and quickly. I've also launched full sites in Django 1.6 and 1.7.</p>
      <h4>HTML5 | CSS3</h4>
      <p>HTML and CSS is what I started with in the beginning. I have used twitter-bootstap extensively and tried skeleton.CSS. I typically use SASS nowadays with CSS to streamline the styling process. Along with HTML I have also been working with Polymer where you can create your own HTML elements which has been very cool and informative.</p>
      <h4>Honorable Mentions</h4>
      <p>Along with the resources above, I've also worked with php and wordpress. I use bash(zsh) daily for command line. I am also familiar with SQL databases and how they operate.</p>
    </div>
  </paper-shadow>
</div>
