/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  height: 100%;
  font-family: Sans-serif;
}

core-scaffold {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

core-scaffold::shadow core-toolbar {
  background: lightgreen;
  color: white;
}

core-header-panel, core-toolbar {
  background-color: lightgreen;
  color: white;
}

section div {
  height: 25em;
}

textarea{
  width: 100%;
}

.core-selected {
  background-color: cyan;
  color: yellow;
  width: 100%;
}

core-menu {
  margin-right: 0;
}

core-menu .core-selected {
  background: linear-gradient(90deg, lightgreen, #eee);
  /*border-top: .1em solid white;
  border-bottom: .1em solid white;*/
}

core-toolbar {
  padding-top: 3em;
}

.me {
  width: 100%;
  height: auto;
  /*border-radius: 50%;*/
}
