$white: #fff;
$grey: #eee;
$secondary: #61FBF0;
$nav: #3ABEFF;

///////////////////////////////////////////

core-scaffold::shadow core-toolbar {
  background: $nav;
  color: $white;
}
core-header-panel, core-toolbar {
  background-color: $nav;
  color: $white;
}
core-menu {
  margin-right: 0;
}
core-menu .core-selected {
  background: linear-gradient(90deg, $nav, $grey);
}
core-toolbar {
  padding-top: 3em;
}
core-scaffold {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.avatar img{
  width:50%;
  height: auto;
  border-radius: 50%;
  margin-top: 1.5em;
}
span h1 {
  font-size: 140%;
  color: $secondary;
}
core-toolbar h3 {
  color: $secondary;
}
core-icon {
  color: white;
}
